<div class="container">
    <div class="album-header">
        <div class="container album-header-content">
            <h1 class="album-title-text">Titre de l'Album</h1>
            <p class="album-description-text">Description de l'album. Ceci est un texte d'exemple qui décrit le contenu et le contexte de cet album photo avec plus de détails et de style.</p>
            <div class="album-meta">
                <span><i class="fas fa-calendar-alt me-2"></i>Créé le 1 juillet 2024</span>
                <span class="ms-3"><i class="fas fa-image me-2"></i>24 photos</span>
            </div>
            <div class="album-actions">
                <button class="btn btn-outline-light btn-lg">
                    <i class="fas fa-plus me-2"></i>Ajouter des images
                </button>
                <button class="btn btn-outline-light btn-lg">
                    <i class="fas fa-trash me-2"></i>Supprimer l'album
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3 col-sm-4">
            <div class="image-card">
                <img src="https://i.ibb.co/5vQt677/img3.jpg" alt="Image 1">
                <div class="image-overlay">
                    <div class="album-date">Ajoutéle 11 juillet 2024</div>
                </div>
                <div class="delete-image">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="image-card">
                <img src="https://i.ibb.co/z41bG1y/img6.jpg" alt="Image 2">
                <div class="image-overlay">
                    <small>Ajouté le 10 juillet 2024</small>
                </div>
                <div class="delete-image">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="image-card">
                <img src="https://i.ibb.co/z41bG1y/img6.jpg" alt="Image 2">
                <div class="image-overlay">
                    <small>Ajouté le 10 juillet 2024</small>
                </div>
                <div class="delete-image">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="image-card">
                <img src="https://i.ibb.co/z41bG1y/img6.jpg" alt="Image 2">
                <div class="image-overlay">
                    <small>Ajouté le 10 juillet 2024</small>
                </div>
                <div class="delete-image">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4">
            <div class="image-card">
                <img src="https://i.ibb.co/z41bG1y/img6.jpg" alt="Image 2">
                <div class="image-overlay">
                    <small>Ajouté le 10 juillet 2024</small>
                </div>
                <div class="delete-image">
                    <i class="fa-solid fa-trash-can"></i>
                </div>
            </div>
        </div>
        <!-- Répétez ce bloc pour chaque image de l'album -->
    </div>
</div>